## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")
#vacation_df = pd.read_csv(r"C:\Users\laure\OneDrive\Desktop\Class Files\World_Weather_Analysis\Challenge\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Belmonte,BR,84.70,broken clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
1,7,Atuona,PF,80.01,scattered clouds,-9.8000,-139.0333,Villa Enata
2,9,Hithadhoo,MV,84.74,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,12,Padang,ID,78.85,overcast clouds,-0.9492,100.3543,Mercure Padang
4,15,Nabire,ID,76.42,overcast clouds,-3.3667,135.4833,Hotel Nusantara Nabire

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Barcelona']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Barcelona']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Calatayud']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Fernan-Nunez'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Grenada']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0, 5:7].to_numpy()
end = vacation_end.iloc[0, 5:7].to_numpy()
stop1 = vacation_stop1.iloc[0, 5:7].to_numpy()
stop2 = vacation_stop2.iloc[0, 5:7].to_numpy()
stop3 = vacation_stop3.iloc[0, 5:7].to_numpy()
stop3

array([37.1882, -3.6067], dtype=object)

In [7]:
Barcelona = start
Calatayud = stop1
Fernan_Nunez = stop2
Grenada = stop3

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
spanish_roadtrip = gmaps.directions_layer(
        Barcelona, Barcelona, waypoints=[Calatayud, Fernan_Nunez, Grenada],
        travel_mode='DRIVING')
fig.add_layer(spanish_roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,314,Barcelona,ES,83.01,few clouds,41.3888,2.1590,Axel Hotel Barcelona
1,343,Calatayud,ES,75.78,broken clouds,41.3535,-1.6432,Hotel Monasterio Benedictino
2,176,Fernan-Nunez,ES,82.29,clear sky,37.6884,-4.7247,Villa Flamenca
3,377,Grenada,ES,76.77,few clouds,37.1882,-3.6067,HOTEL REINA CRISTINA

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))